<sync-bar (click)="toggleLoggingPage()"></sync-bar>
<mat-sidenav-container class="main-container">
  <mat-sidenav class="side-nav-slider" position="end" [(opened)]="sideNavOpened">
    <to-do-list-selection
      *ngIf="sideNavOpened"
      (selectToDoList)="onSelectToDoList($event)"
    >
    </to-do-list-selection>
  </mat-sidenav>
  <mat-sidenav-content>
    <p class="list-title">{{ listTitle }}
      <button class="float-right to-do-list-selection-button" (click)="openSideNav()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </p>
    <to-do-list-page
      *ngIf="selectedToDoList"
      [selectedToDoList]="selectedToDoList"
    ></to-do-list-page>
    <logging-page *ngIf="showLoggingPage"></logging-page>
  </mat-sidenav-content>
</mat-sidenav-container>

