<sync-bar
  (click)="toggleShowToDoList()"
>
</sync-bar>
<mat-sidenav-container class="main-container">
  <mat-sidenav class="side-nav-slider" position="end" [(opened)]="sideNavOpened">
    <!-- TODO Paul Bauknecht 5.6.2021 the toDoListSelection does not need the selected to do list as input! -->
    <to-do-list-selection
      *ngIf="sideNavOpened"
      [selectedToDoList]="selectedToDoList"
      (selectToDoList)="onSelectToDoList($event)"
    >
    </to-do-list-selection>
  </mat-sidenav>
  <mat-sidenav-content>
    <p class="list-title">{{ listTitle }}
      <button class="float-right to-do-list-selection-button" (click)="openSideNav()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </p>
    <to-do-list-page
      *ngIf="showToDoList && selectedToDoList"
      [selectedToDoList]="selectedToDoList"
    ></to-do-list-page>
    <logging-page *ngIf="!showToDoList"></logging-page>
  </mat-sidenav-content>
</mat-sidenav-container>

