.float-right {
  float: right;
}

.wide-input {
  width: 100%
}

.wide-input-span {
  display: block;
  overflow: hidden;
  padding-right: 10px;
}

input.ng-dirty.ng-invalid {
  border-color: red;
  background-color: lightcoral;
}
